{%- if include.tag %}
{%- assign resources = site.data.all_content_list | add_collection | where:"collection", include.tag  | sort_natural: "name" %}
{%- else %}
{%- assign resources = site.data.all_content_list | add_collection  | sort_natural: "name" %}
{%- endif %}
{%- unless resources.size == 0 or resources == nil %}
<a class="visually-hidden-focusable" href='#skip-resource-table'>Skip resource table</a>
<div class="table-responsive mt-4 mb-5">
    <table class="resourcetable table display">
        <thead>
            <tr class="text-nowrap">
                <th>Resource</th>
                <th>Description</th>
                <th>Topic(s)</th>
                <th>Format</th>
                <th>Provider</th>
            </tr>
        </thead>
        <tbody>
            {%- for resource in resources %}
            <tr>
                {% if resource.url %}
                <td><a href="{{resource.url}}">{{resource.name}}</a></td>
                {%- else %}
                <td>{{resource.name}}</td>
                {%- endif %}
                <td>{{resource.description}}
                    {%- if resource.instance_of or resource.how_to_access or instances_resource != 0 and total_county_resources != 0 and include.tag != nil %}
                    {%- assign linked_resource = site.data.all_content_list | where:"id", resource.instance_of | first %}
                    <div class="d-block mt-1">
                        {%- if resource.how_to_access %}
                        <span class="d-inline-block" tabindex="0" data-bs-toggle="resourcetip" title="{{resource.how_to_access}}"><span class="badge text-primary border border-primary"> <i class="fa-solid fa-key"></i></span></span>
                        {%- endif %}
                    </div>
                    {%- endif %}
                </td>
                <td>{{resource.topics}}</td>
                <td>{{resource.type}}</td>
                <td>{{resource.provider}}</td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>
</div>
{%- endunless %}
<div id="skip-resource-table"></div>
